body{
    background-image: url(bg.jpg);
    background-size: cover;
}

form{
    margin: auto;
    padding: 20px;
    width: 20px;
    background-color: #561B39;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    opacity: 0.7;
}


input[type="text"]{
    padding: 5px;
    width: 80px;
    font-size: 18px;
}


input[type="submit"]{
    padding: 5px;
    font-size: 20px;
    width: 100px;
}


select{
    padding: 5px;
    font-size: 20px;
    background-color: #561b56;
    
}